@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700&display=swap');
.resolucion {
    width: 99%;
    text-align: center;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style:none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(images/ban.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 70vh;
    display: flex;
    align-items: center;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo{
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}


.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}
.menu .navbar a:hover{
    color: rgb(0, 0, 0);
}
#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-txt {
    text-align: center;
    font-size: 45px;
    color: #FFFDFC;
    margin-bottom: 40px;
}

.btn-1 {
    display: inline-block;
    padding: 12px 45px;
    border: 1px solid #FFFDFC;
    color:#FFFDFC;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.btn-1:hover {
    color: #FFFDFC;
    background-color: #ec5204;
}

.general {
    padding: 50px 0;
    text-align: center;
}


.general-1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/JUE0250.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;

}

.general-2{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/JUE0267.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-3{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/JUE0271.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-4{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/JUE0271X.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}

.general-5{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/JUE0274.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}
.general-6{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/JUE0276E.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 450px;
    padding: 170px 55px;
}
    

.txt h3 {
    font-size: 40px;
    color:#f8f8f8;
    margin-bottom: 40px;        
}

.txt p {
    color: #ffffff;
    font-size: 20px;
    font-style: bold;
}

.info-1 {
    padding: 250px 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/PUL0115.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.info-content {

    text-align: center;
    font-size: 50px;
    font-style: bold;
}

.info-content h2, span {
    color: #fefefe;
}


.info-2 {
    padding: 250px 0;
    background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/PUL0123.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.testi {
    display: flex;
    align-items: center;
    text-align: left;
    margin-top: 35px;
}

.testi-left {
    width: 50%;
    padding-right: 25px;
}

.testi-right {
    width: 50%;
    padding-left: 35px;
}

.testi-txt {
    margin-bottom: 25px;
}

.testi-txt img {
    width: 50px;
    margin-bottom: 15px;
}

.testi-txt h3 {
    font-size: 50px;
    color: #ffffff;
}

.testi-txt p {
    color: #ffffff;
    font-size: 30px;
}


.form {
    margin-top: 35px;
}

.campo {
    margin-right: 10px;
    padding: 17px 35px;
    border: 2px solid #000000;
    outline: none;
    color: #1b293a;

}

.campo::placeholder {
    color: #b4b4b4;
}

.btn-2 {
    padding: 17px 35px;
    border: 2px solid #d0d5db;
    color: #ff5500;
}

.Contacto{
    font-size: 20px;
    font-weight: 800;
    color: #1b293a;
}
.Contacto:hover{
    font-size: 40px;
    color:#ec5204;}


    .footer{
        background-color: black;
        padding: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        padding-bottom: 1rem;
        color: white;
        font-size: 1rem;
        text-align: center;
        max-width: 130rem;
        margin: 0 auto;

    }

    .enlace-footer:hover{
        padding-left: 0rem;
        padding-right: 1rem;
    }

